<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="center custom-title">
      <ion-icon name="car-outline"></ion-icon> ¿A Dónde Vas?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="login-container">
    <ion-img src="./assets/img/logo.png" alt="Imagen de perfil" class="logo-img"></ion-img>
    <ion-grid class="custom-box">
      <form (ngSubmit)="userLoginSupabase(userLoginModal)">
      <ion-row>
        <ion-col size-sm="10" size-md="8" size-lg="6">
          <ion-item lines="none" class="transparent-input">
            <ion-input labelPlacement="floating" name="user" [(ngModel)]="userLoginModal.email" type="text" required placeholder="Usuario">
              <div slot="label">Usuario</div>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="10" size-md="8" size-lg="6">
          <ion-item lines="none" class="transparent-input">
            <ion-input labelPlacement="floating" name="password" [(ngModel)]="userLoginModal.password"  type="password" required placeholder="Contraseña">
              <div slot="label">Contraseña</div>
            </ion-input>
          </ion-item>         
        </ion-col>        
      </ion-row>
      <ion-row class="center-row">
        <ion-col class="center-col">
          <ion-button type="submit" class="button-login" expand="none">
            Entrar
          </ion-button>
        </ion-col>
      </ion-row>                       
      <ion-row>
        <ion-col size-sm="10" size-md="8" size-lg="6">
          <ion-button expand="full" fill="clear" text-wrap (click)="openRegister()">
            <ion-icon name="person-add"></ion-icon> Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="10" size-md="8" size-lg="6">
          <ion-button expand="full" fill="clear" (click)="openForgotPasswordModal()">
            <ion-icon name="help-circle"></ion-icon>
            <ion-label text-wrap>¿Olvidaste tu Contraseña?</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
     </form>
    </ion-grid>
  </div>
</ion-content>
