<ion-header>
  <ion-toolbar class="custom-title">
    <ion-title class="ion-text-center">Viajes Disponibles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Viajes Disponibles</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="custom-list">
    <ion-list lines="none" *ngIf="items.length > 0">
      <div *ngFor="let item of items; let i=index" class="custom-list-item">
        <ion-item class="custom-item">
          <ion-avatar slot="start" class="custom-avatar">
            <img src="assets/img/car-icon.png" alt="logo">
          </ion-avatar>
          <ion-label class="custom-label">
            <ion-text>Origin : {{item.origen}}</ion-text>
            <p>
              <ion-text>Destino : {{item.destino}}</ion-text>
            </p>
            <p>
              <ion-text>Conductor: {{item.id_conductor}}</ion-text>
            </p>
            <p>
              <ion-text style="color: #5BC5DB;"><sup>${{item.precio}} </sup></ion-text>
            </p>
          </ion-label>
          <ion-button slot="end" class="custom-button" (click)="comprarAsiento(item.id_viaje, id_user)">+</ion-button>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
