<ion-header>
  <ion-toolbar class="custom-title">
    <ion-title class="ion-text-center">Crea Tu Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div>
    <ion-img src="./assets/img/logo.png" alt="Imagen de perfil" class="logo-img"></ion-img>
  </div>

  <ion-grid class="custom-box">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="id_conductor" type="number" required [(ngModel)]="viajeData.id_conductor">
            <div slot="label">ID del Conductor</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-select labelPlacement="floating" placeholder="Selecciona la cantidad de asientos máximos" [(ngModel)]="viajeData.Asientos_max" name="Asientos_max" required>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <div slot="label">Asientos Maximos</div>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="precio" type="number" required [(ngModel)]="viajeData.precio">
            <div slot="label">Precio</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="origen" type="text" required [(ngModel)]="viajeData.origen">
            <div slot="label">Origen</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="destino" type="text" required [(ngModel)]="viajeData.destino">
            <div slot="label">Destino</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="center-row">
      <ion-col class="center-col">
        <ion-button class="button-login" expand="none" (click)="agregarViaje()">
          Crear Viaje
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
