.profile-picture {
    width: 25%;
    height: 25%;
    margin: 0 auto;
    background-color: white;
    border-radius: 100%;
  }
  
  .botones-viajes {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }
  
  .map {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
    margin: 0 auto;
  }
  
  .map.visible {
    opacity: 1;
  }
  
  .centrar-mapa {
    display: flex;
    justify-content: center;
  }
  
  .background {
    background-image: url('../../assets/img/fondo.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  
  .background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  ion-content {
    --ion-background-color: transparent;
    --ion-text-color: #fff;
  }
  