<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Olvidaste tu Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon name="close-circle-outline"></ion-icon> Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <ion-grid class="custom-box">
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="last_name" type="text" required placeholder="Correo Electrónico">
            <div slot="label">Correo</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="name" type="text" required placeholder="Nombre">
            <div slot="label">Nombre</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-item class="transparent-input">
          <ion-input labelPlacement="floating" name="last_name" type="text" required placeholder="Apellido">
            <div slot="label">Apellido</div>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="12" size-md="8" size-lg="6">

        </ion-col>
        <ion-col size-sm="12" size-md="8" size-lg="6">
          <ion-item>
            <ion-label>Acepto las condiciones para reiniciar la contraseña</ion-label>
            <div>
              <ion-item>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>      
    </ion-row>
    <ion-row class="center-row">
      <ion-col class="center-col">
        <ion-button class="button-login" expand="none">
          Restablecer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
