
  


  
  .map {
    position: absolute;
    width: 100%; /* Cambiado al 100% para ocupar todo el ancho */
    height: 50vh; /* 50% de la altura de la ventana */
    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
    margin: 0 auto;
  }
  
  .map.visible {
    opacity: 1;
  }
  
  .centrar-mapa {
    display: flex;
    justify-content: center;
  }
  
  .background {
    background-image: url('../../assets/img/fondo.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh; /* Ajusta la altura al 100% de la ventana */
  }
  
  .background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  ion-content {
    --ion-background-color: transparent;
    --ion-text-color: #fff;
  }
  