<ion-header>
  <ion-toolbar>
    <ion-title>Te Llevo Duoc</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Te Llevo Duoc</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="background">

<div>
  <h2 class="ion-text-center">Viaje Actual</h2>
</div>



  <div>
    <h2 class="ion-text-center">Ubicacion</h2>
  </div>
    <div class="centrar-mapa">
      <div class="map" #map></div>
    </div>
  </ion-content>
</div>
