/* Establece una imagen de fondo */
.background {
    background-image: url('../../assets/img/fondo.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; /* Añade una posición relativa al contenedor */
  }
  
  
  .logo-img {
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 75%; /* Ajusta el ancho máximo del logo según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }
  
  /* Agrega una capa semitransparente para oscurecer la imagen de fondo */
  .background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Color de fondo oscurecido (negro con opacidad) */
  }
  
  /* Estilos generales de contenido */
  ion-content {
    --ion-background-color: transparent; /* Fondo transparente para el contenido */
    --ion-text-color: #fff; /* Color del texto */
  }
  
  /* Define un estilo para el recuadro con bordes redondeados */
  .custom-box {
    background-color: rgba(0, 23, 39, 0.75); /* Cambia el fondo a un blanco suave (#f0f0f0) */
    border-radius: 20px; /* Bordes redondeados de 10 píxeles (ajusta según tus necesidades) */
    padding: 10px; /* Espaciado interno (ajústalo según tus necesidades) */
    color: rgb(3, 63, 105); /* Cambia el color del texto a un azul oscuro (#000082) */
  }
  
  
  
  /* Estilo para el título en el ion-header (con colores intercambiados) */
  .custom-title {
    background-color: #5BC5DB; /* Cambia el color del fondo del título al deseado */
    color: #c4c2c2; /* Cambia el color del texto a un gris oscuro (#333) o al que desees */
    padding: 10px; /* Agrega espacio interno al título si es necesario */
    text-align: center; /* Centra el texto en el título */
  }
  
  /* Agrega un fondo transparente al ion-input */
  .transparent-input {
    --background: rgba(230, 230, 230, 0.85); /* Gris oscuro (RGBA) con un 50% de translucidez */
    --border-color: rgb(94, 136, 175); /* Cambia el color del borde a "rgb(0, 0, 128)" o al que desees */
    --border-width: 1px; /* Establece el ancho del borde a 1 píxel (ajusta según tus necesidades) */
    --border-style: solid; /* Establece el estilo del borde como sólido */
    --border-radius: 10px;
    color: rgb(58, 71, 116) /* Agrega bordes redondeados de 10 píxeles (ajusta según tus necesidades) */
  }
  
  /* Define la clase '.button-login' para el botón de inicio de sesión */
  .button-login {
    --background: #5BC5DB; /* Cambia el color de fondo del botón a amarillo (#ff9b05) o al que desees */
    --color: #fff; /* Cambia el color del texto a blanco (#fff) */
    --border-radius: 10px; /* Agrega bordes redondeados de 10 píxeles (ajusta según tus necesidades) */
  }
  
  /* Clase para centrar horizontalmente la fila */
  .center-row {
    justify-content: center;
  }
  
  /* Clase para centrar el contenido horizontalmente */
  .center-col {
    display: flex;
    justify-content: center;
  }
  
  /* Establece el color de texto a blanco en tus botones */
  ion-button {
    --color: #d6d6d6; /* Cambia el color del texto a blanco (#fff) o al que desees */
  }

  .error-message {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados mayores */
    display: inline-block; /* Ajusta el cuadro al contenido de texto */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Texto centrado */
    color: #ff0000; /* Color de texto rojo */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Espacio superior */
  }
  
  